*, header {
    font-family: Arial, Helvetica, sans-serif;
}

#main-container {
    display: flex;
    padding: 10px 60px 10px 20px;
}

header {
    text-align: center;
    padding: 0 10px;
}
header h1 {
    font-weight: 550;
}

header h2 {
    font-weight: normal;
    color: #B5B5B5;
}

#content {
    padding: 30px;
}

.card {
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    box-sizing: border-box;
    float: left;
    width: 48%;
    margin: 1%;
    box-shadow: 1px 1px #F1F1F1;
}

.card-container {
    padding: 0 20px 20px 20px;
}

.card-container h4 {
    color: #B5B5B5;
    font-weight: normal;
}

.card a {
    font-weight: bold;
    color: #3CAAD1;
    text-decoration: none;
}

img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.fa, .fa-search {  
    color: #B5B5B5;
}

aside div table {
    width: 100%;
    padding: 30px 0 10px 0;
}

aside div table th {
    text-align: left;
}

aside div table td{
    border-bottom: 1px solid #B5B5B5;
    color: #B5B5B5;
    padding: 15px 0;
}

#input-div {
    padding: 10px 15px;
    display: flex;
    border: 1px solid #B5B5B5;
    border-radius: 5px;    
}

.aside-div input {
    border: none;
    outline: none;
}

@media all and (max-width: 800px) {
    .card {   
        box-sizing: content-box;
        width: 100%;
        margin: 10px 0;
    }

    #main-container {
        display: block;
        padding: 0;
    }

    aside {
        padding: 20px;
    }
}